body {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 20px;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: -1px;
  color: navy;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
}

textarea {
  width: 300px;
  height: 50px;
}

label {
  width: 13%;
  margin-left: 10px;
  float: left;
}

.listing {
  background-color: white;
  width: 88%;
  border: 10px solid navy;
  padding: 25px;
  margin: 25px;
}

.div2 {
  position:relative;
    height:100px;
    background:red;
    left:10px;
  height: 150;
  width: 100%;
  border: 0px solid navy;
  padding: 0px;
  margin: 0px;
}

.topalign {
  vertical-align: top;
  display: inline-block;
}

.innertext {
  display: inline-block;
  vertical-align: top;
  height: auto;
  width: 75%;
}

.innerimage {
  display: inline-block;
  height: 150px;
  width: 220px;
}
.image {
  height: 150px;
  width: auto;
}
.left {
  width: 13%;
  float: left;
  text-align: right;
}

.oblique {
    font-style: oblique;
}

.bold {
  font-size: 1.5em;
  font-weight: bold;
}
